{% extends "blog/base.html" %}
{% block content %}

<div class="col-12 col-sm-7 col-md-6 col-lg-5" style="padding:0px;margin-bottom:15px;">
  <div class="content-section">
    <form method="POST">
      {% if form.non_field_errors %}
      <div class="alert alert-block alert-danger">
        {{ form.non_field_errors.0 }}
      </div>
      {% endif %}
      {% csrf_token %}
      <div class="auth_headline">
        <p>Login</p>
      </div>
      <input id="first_name" name="first_name" placeholder="First Name" class="auth_input" type="text" autocomplete="first_name" required autofocus>
	<input id="last_name" name="last_name" placeholder="Last Name" class="auth_input" type="text" autocomplete="last_name" required autofocus>
	<input id="id_username" name="username" placeholder="Email" class="auth_input" type="text" autocomplete="username" required autofocus>
	<input id="id_password" name="password" placeholder="Password" class="auth_input" type="password" autocomplete="current-password" required>
	<button class="button auth_button" type="submit">Sign In</button>
    </form>
    <div style="padding-top:1rem;margin-top:10px;">
      <div class="auth_note">
        Need An Account? <a style="margin-left:4px;color:#600000;" href="{% url 'register' %}">Sign Up Now</a> 
      </div>
	<div class="auth_note">
	  Forgot Password? <a style="margin-left:4px;color:#600000;" href="{% url 'password_reset' %}">Reset Password</a>
	</div>
    </div>
  </div>
</div>

{% endblock content %}
