{% extends "blog/base.html" %}
{% block content %}

<div class="col-12 col-sm-7 col-md-6 col-lg-5" style="padding:0px;margin-bottom:15px;">
  <div class="content-section">
	<div class="auth_headline">
        <p>Enter Your New Password</p>
      </div>
    	<form class="form" action="" method="POST" enctype="multipart/form-data">
      	{% csrf_token %}
		{% form.as_p %}
		<button class="button auth_button" type="submit">Confirm Password</button>
    	</form>
    	<div style="padding-top:1rem;margin-top:10px;">
      	<div class="auth_note">
        		<a style="margin-left:4px;color:#600000;" href="{% url 'login' %}">Back to Login</a>
      	</div>
    	</div>
  </div>
</div>

{% endblock content %}