{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- JavaScript files -->
<script src="{% static 'blog/js/moment.min.js' %}"></script>
<script src="{% static 'blog/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- CSS files -->
<link rel="stylesheet" href="{% static 'blog/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/modified-bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">

</head>
<body>

{% block content %}
<center>
<div class="col-12 col-sm-7 col-md-6 col-lg-5" style="padding:0px;margin-bottom:15px; width:350px">
  <div class="content-section">
	<div class="auth_headline">
        <p>Forgot Your Password?</p>
      </div>
    	<form method="POST">
      	{% csrf_token %}
		{{ form.as_p }}
		<button class="button auth_button" type="submit">Send</button>
   	</form>
  </div>
</div>
</center>
{% endblock content %}